<template name="MarketsPanel">
    <div class="card text-white bg-dark">
        <div class="card-header font-weight-bold p-1">Markets</div>
        <table class="table table-dark table-striped table-sm">
            <thead>
            <tr>
                <th>Start</th>
                <th>Name</th>
                <th class="d-none d-sm-table-cell">Matched</th>
            </tr>
            </thead>
            <tbody>
                {{#each markets}}
                    {{> Market}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="Market">
    <tr>
        <td>{{formatMarketStartTime marketStartTime}}</td>
        <td>{{event.venue}} {{marketName}}</td>
        <td class="d-none d-sm-table-cell">{{formatMoneyPounds totalMatched}}</td>
    </tr>
</template>